<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ecowiser</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  </head>
  <body>

    <h4 class="text-center my-2">Search Videos</h4>

    <div class="container">
       <center>
        {% if messages %}
        <div class="messages">
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
                {{ message }}
            </div>
        {% endfor %}
        </div>
    {% endif %}
        <video width="60%" height="50%" id="video" autoplay="autoplay" controls="controls">
          
          </video>
       </center>
       <input type="text" id="subtitles" value="{{subtitles}}" style="display: none;">
        <form action="/search/{{object_key}}" method="post">
            <div>
                {% csrf_token %} 
                <label for="formFileLg" class="form-label">Search for subtitles</label>
                <input class="form-control" name ="query" type="text" placeholder="search for subtitles" required>
                <button class="btn btn-primary my-2" type="submit">Search</button>
              </div>
            
        </form>
        <div class="row">
            <h3 class="text-center">All the results of the search will be below :- </h3>
            <table class="table" id="results">
                <thead>
                  <tr>
                    <th scope="col">Start</th>
                    <th scope="col">End</th>
                    <th scope="col">Subtitle</th>
                    <th scope="col">Open</th>
                  </tr>
                </thead>
                <tbody>
           
        
            </tbody>
          </table>
    
          </div>

      
          </div>
<script>
    const dataString = document.getElementById("subtitles").value;
    const jsonString = dataString.replace(/'/g, '"');
    const dataArray = JSON.parse(jsonString);
    var table = document.getElementById("results");
    if(dataArray!=[]){
        for(let i=0;i<dataArray.length;i++){
            // Find a <table> element with id="myTable":

            // Create an empty <tr> element and add it to the 1st position of the table:
            var row = table.insertRow();

            // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
            var cell1 = row.insertCell();
            var cell2 = row.insertCell();
            var cell3 = row.insertCell();
            var cell4 = row.insertCell();

            // Add some text to the new cells:
            cell1.innerHTML = dataArray[i]['start'];
            cell2.innerHTML = dataArray[i]['end'];
            cell3.innerHTML = dataArray[i]['content'];
            cell4.innerHTML = `<button class="btn btn-primary" onclick=Open_Video("${dataArray[i]['start']}","${dataArray[i]['object_key']}")>Open TimeStamp</button>`;
        }
    }
    else{
        
    }
</script>
<script>
        function Open_Video(start, key){
            lst = start.split(",")[0]
            nxt = lst.split(":")
            hr = parseInt(nxt[0])
            min = parseInt(nxt[1])
            sec = parseInt(nxt[2])
            total_seconds  = hr*3600 + min*60 + sec
            var source = document.createElement('source');

            source.setAttribute('src', `https://ecowiser.s3.amazonaws.com/${key}`);
            source.setAttribute('type', 'video/mp4');

            video.appendChild(source);
            video.currentTime = total_seconds
            video.play();
            window.scrollTo({top: 0, behavior: 'smooth'});
        }
</script>
          
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
</html>